<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-4 form-group">
                    <label class="ms-1">Name:</label>
                    <input type="text" class="form-control ms-1" id ="name" #nameRef>   
                </div>
                <div class="col-2">
                    <label class="ms-1">Amount:</label>
                    <input type="number" class="form-control ms-1" id ="amount" #amountRef>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <button type="button" class="btn btn-success ms-1 mt-1 me-1" (click)="onAddItem()">Add</button>
                    <button type="button" class="btn btn-danger mt-1 me-1">Delete</button>
                    <button type="button" class="btn btn-danger mt-1 me-1">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>